<div class="container">

<div class="column narrow">
    <h3 class="center">{{readableState.leftPlayer.name}}</h3>
    <div class="vertical">
        <div class="dummy-card" *ngFor="let element of readableState.leftPlayer.cards"></div>
    </div>
</div>

<div class="column wide">
<div cdkDropListGroup>
<div>
    <div class="card-holder" [cdkDropListData]="readableState.table" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" cdkDropList>
        <div class="card" *ngFor="let card of readableState.table" cdkDragDisabled>
            <img [src]="this.serverService.cardToFilename(this.serverService.cardNumberToCard(card))">
        </div>
    </div>
</div>
<div>
    <div class="card-holder" [cdkDropListData]="readableState.myPlayer.cards" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" cdkDropList>
        <div class="card" *ngFor="let card of readableState.myPlayer.cards" [cdkDragDisabled]="!isPlayerCurrent()" cdkDrag>
            <img [src]="this.serverService.cardToFilename(this.serverService.cardNumberToCard(card))">
        </div>
    </div>
</div>
</div>
</div>

<div class="column narrow">
    <h3 class="center">{{readableState.rightPlayer.name}}</h3>
    <div class="vertical">
        <div class="dummy-card" *ngFor="let element of readableState.rightPlayer.cards"></div>
    </div>
</div>



</div>