<div class="container">

<div cdkDropListGroup>

<div>
    <h2> Stół </h2>
    <div class="card-holder" [cdkDropListData]="table" (cdkDropListDropped)="drop($event)" cdkDropList>
        <div class="card" *ngFor="let card of table" cdkDrag>
            <p>{{card}}</p>
        </div>
    </div>
</div>

<div>
    <h2>Ręka</h2>
    <div class="card-holder" [cdkDropListData]="cards" (cdkDropListDropped)="drop($event)" cdkDropList>
        <div class="card" *ngFor="let card of cards" cdkDrag>
            <p>{{card}}</p>
        </div>
    </div>
</div>

</div>

</div>