
.board
{
    height: 200px;
}

.card-holder
{
    width: 50%;
    margin-left: auto;
    margin-right:auto;
    padding: 20px;
    background-color: indianred;
    display: flex;
    flex-direction: row;
}


.card 
{
    width: 200px;
    height: 200px;
    background-color: white;
    border-radius: 10px;
    border: solid 1px black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: center;
    text-align: center;
}
