<div class="container">

<div class="column narrow">
    <div class="vertical">
        <div class="dummy-card" *ngFor="element of arrLen(leftPlayerCards)"></div>
    </div>
</div>

<div class="column wide">
<div cdkDropListGroup>
<div>
    <div class="card-holder" [cdkDropListData]="table" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" cdkDropList>
        <div class="card" *ngFor="let card of table" cdkDragDisabled>
            <img [src]="cardToFilename(cardNumberToCard(card))">
        </div>
    </div>
</div>
<div>
    <div class="card-holder" [cdkDropListData]="cards" cdkDropListOrientation="horizontal" (cdkDropListDropped)="drop($event)" cdkDropList>
        <div class="card" *ngFor="let card of cards" cdkDrag>
            <img [src]="cardToFilename(cardNumberToCard(card))">
        </div>
    </div>
</div>
</div>
</div>

<div class="column narrow">
    <div class="vertical">
        <div class="dummy-card" *ngFor="element of arrLen(rightPlayerCards)"></div>
    </div>
</div>

</div>