:host 
{
    display: block;
    background: white;
    padding: 20px;
    border-radius: 0 0 5px 5px;
}

h1 
{
    margin: 10px;
    padding: 5px;
    border-bottom: black 1px solid;
    text-align: center;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.numbox
{
    vertical-align: middle;
    font-size: 36px;
    padding: 10px;
}

.round
{
    border-radius: 9999px;
}

.more
{
    background-color: greenyellow;
}

.more:hover
{
    background-color: rgb(111, 160, 38);
}

.less
{
    background-color: red;
}

.less:hover
{
    background-color: rgb(161, 1, 1);
}

.forward
{
    background-color: lightskyblue;
}

.forward:hover
{
    background-color: rgb(97, 147, 179);
}

.hbar
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    vertical-align: middle;
    padding: 15px;
}