/* You can add global styles to this file, and also import other style files */
body
{
    background-color: wheat;
}

button
{
    background-color: teal;
    border: none;
    padding: 10px 15px 10px 15px;
    font-size: 20px;
    display: block;
}

button:hover
{
    background-color: black;
}