
<div class="container">

    {{formdata | json}}

    <form *ngIf="enterUsername" #userForm="ngForm" >
        <div class="form-group">
        <label for="username">Nazwa użytkownika</label>
        <input type="text" class="form-control" id="username" name="username" placeholder="Nazwa użytkownika" [(ngModel)]="formdata.username" required pattern="^(?!empty$).*$" #username="ngModel">
        <div *ngIf="username.touched && username.errors?.required" class="alert alert-danger">
            Nie podano nazwy użytkownika!
        </div>
        <div *ngIf="username.errors?.pattern" class="alert alert-danger">
            Nazwa użytkownika nie może wynosić "empty"
        </div>
        <div *ngIf="exists" class="alert alert-danger">
            Podany użytkownik już istnieje
        </div>
        </div>
    
        <div class="buttons">
            <button type="submit" class="button center" (click)="createUser()" [disabled]="username.invalid">Dalej</button>
        </div>
    </form>
    
    <form *ngIf="chooseOption" #chooseForm="ngForm">
        <label>Your username is <div *ngIf="user">{{user.name}}</div></label>
        <div class="buttons col2">
            <button type="submit" (click)="onJoin()" class="button">Dołącz do pokoju</button>
            <button type="submit" (click)="onCreate()" class="button">Stwórz pokój</button>
        </div>
    </form>

    <form *ngIf="displayJoin" #createServer="ngForm" >
        <div class="form-group">
        <label for="serverCode">Kod pokoju</label>
        <input type="text" class="form-control" id="serverCode" name="serverCode" placeholder="Kod pokoju" [(ngModel)]="formdata.serverCode" required #serverCode="ngModel">
        <div *ngIf="serverCode.touched && serverCode.invalid" class="alert alert-danger">
            Nie podano nazwy serwera!
        </div>
        </div>
        <div class="buttons">
            <button type="submit" class="button center" (click)="joinServer()" [disabled]="serverCode.invalid">Dołącz</button>
        </div>
    
    </form> 

    <div *ngFor="let user of users">
        {{user | json}}
    </div>
    
    </div>