.container
{
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(187, 187, 187);
    max-width: 560px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 8px 8px 40px;
}

label
{
    font-size: 35px;
    display: block;
    text-align: center;
}

.form-control
{
    display: block;
    box-sizing: border-box;
    
    margin-left: auto;
    margin-right: auto;
    font-size: 30px;
    width: 100%;
}

.buttons
{
    margin-top: 20px;
    padding: 10px;
}

.col2
{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.center
{
    margin-left: auto;
    margin-right: auto;
}

.alert
{
    border: solid 1px black;
    padding: 10px;
    border-radius: 5px;;
}

.alert-danger
{
    background-color: indianred;
}